@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chào bạn đến với khóa học aspnet core </h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
    </div>

</div>